@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.card{
    margin: 1rem 0;
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
/* product page */
.product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
/* product page end*/
/* social media animation counter  */
.counters{
    background: blue;
    color:white;
    padding: 40px 20px;
    border-top: 1px solid lightblue;
}

.counters .container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.counters i{
    color:lightskyblue;
    margin-bottom: 5px;
}

.counters .counter{
    font-size: 45px;
    margin: 0 auto;
}

@media(max-width:700px){
    .counters .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .counters .container > div:nth-child(1),.counters .container > div:nth-child(2){
        border-top: 1px solid lightblue;
        padding-bottom: 20px;
    }
}
/* social media animation counter  end*/